---
import Counter from "./Demo";
---

<div class="container">
  
  <!-- <Counter client:load /> -->
  <img src="assets/dimensiontable.png" class="img1" alt="" />
  <img src="assets/Prossess1.png" class="img2" alt=""/>
  <img src="assets/Prossess2.png" class="img2" alt=""/>
  <img src="assets/Prossess3.png" class="img2" alt=""/>
  <img src="assets/Prossess4.png" class="img2" alt=""/>
  <img src="assets/Prossess5.png" class="img2" alt=""/>
  <img src="assets/Prossess6.png" class="img2" alt=""/>
  <img src="assets/Prossess7.png" class="img2" alt=""/>
  <img src="assets/Prossess8.png" class="img2" alt=""/>
  <img src="assets/Teknologi1.png" class="img2" alt=""/>
  <img src="assets/Teknologi2.png" class="img2" alt=""/>
  <img src="assets/Teknologi3.png" class="img2" alt=""/>
  <img src="assets/Arbeidsfrom1.png" class="img2" alt=""/>
  <img src="assets/Arbeidsfrom2.png" class="img2" alt=""/>
  <img src="assets/Arbeidsfrom3.png" class="img2" alt=""/>
  <img src="assets/Arbeidsfrom4.png" class="img2" alt=""/>
  <img src="assets/Måling1.png" class="img2" alt=""/>
  <img src="assets/Måling2.png" class="img2" alt=""/>
  <img src="assets/Måling3.png" class="img2" alt=""/>
  <img src="assets/Måling4.png" class="img2" alt=""/>
  <img src="assets/Måling5.png" class="img2" alt=""/>
</div>

<style>
  .container {
    width: 100%;
    height: 100%;
    /* background: red; */
    display: grid;
    place-items: center;
    grid-gap: 1em;
    padding: 1em;
  }
  .img1 {
    width: 600px;
    height:auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* margin: 10px; */
  }
  .img2 {
    width: 800px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* margin: 10px; */
  }
</style>
