<script is:inline>
  // document.getElementById("button").addEventListener("click",  handleClick);

  function showContent(id, id2, pagetitle) {
    var divs = document.getElementsByClassName("divs");
    var lunks = document.getElementsByClassName("links");

    for (var i = 0; i < divs.length; i++) {
      if (divs[i].classList.contains("divs")) {
        divs[i].style.display = "none";
      }
    }

    for (var i = 0; i < lunks.length; i++) {
      if (lunks[i].classList.contains("links")) {
        lunks[i].classList.remove("activeLink");
      }
    }
    document.getElementById(id).style.display = "block";
    document.getElementById(id2).classList.add("activeLink");
    document.getElementById("pagetitle").textContent = pagetitle;
  }
</script>
<div id="mySidenav" class="sidenav">
  <a
    class="links activeLink"
    id="id1"
    href="javascript:showContent('test1', 'id1', '4 Dimensions of PEM');"
    >MultiPEMs fire dimensjoner</a
  >
  <a
    class="links"
    id="id2"
    href="javascript:showContent('test2', 'id2', 'Phases and Steps');"
    >Faser og trinn</a
  >
  <a
    class="links"
    id="id3"
    href="javascript:showContent('test3', 'id3', 'Work Breakdown Structure');"
    >Prosjekt-
    nedbrytnings-
    struktur</a
  >
  <a
    class="links"
    id="id4"
    href="javascript:showContent('test4', 'id4', 'Status Definitions');"
    >MMI Definisjoner</a
  >
  <a
    class="links"
    id="id5"
    href="javascript:showContent('test5', 'id5', 'Difference Between Status and Quality');"
    >Forskjell på MMI og
    kvalitetsnivå</a
  >
</div>

<!-- Use any element to open the sidenav -->

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->

<style>
  .sidenav {
    top: 40px;
    position: fixed;
    border-radius: 8px;
    margin: 10px;
    height: 100%;
    width: 200px;
    height: fit-content;
    background-color: #111;
    padding: 20px 4px;
    display: flex;
    flex-direction: column;
    transition: 0.3s; /* 0.5 second transition effect to slide in the sidenav */
  }
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  .activeLink {
    color: #ffa53d !important;
  }
</style>
