---
import { Triangle } from "./svgs";

const data = [
  {
    title: "0 Phase",
    text: `0. Phase is the scopes maturity in Client’s execution model (total
project). The scope consists of Detail Design in Clients execution
phase.`,
  },
  {
    title: "1 Main Object",
    text: `1. Main Object: is as a geographical part of the scope. We have defined
three area types Buildings, Transmission and Infrastructure. Detail
Design consists of 11 Main Objects. The Main Objects are connected to
CTRs (Cost Time Resource)`,
  },
  {
    title: "2 Main Discipline",
    text: `2. Main Discipline: is responsible for a collection of control objects
The Main Objects consists of the following Main Disciplines: -Electro HV
cables and Earthing -EIT Building -Siteprep and Earthworks -Roads
-Landscape -W&S -Structural Contrete -Structural Steel -Telecom
-Architect -HVAC The Main Disciplines shall have a defined interface
toward other Main Disciplines. The Main Disciplines shall have unique
numbering in the WBS. Discipline leads is responsible for defining
control objects and check lists within discipline.`,
  },
  {
    title: "3 Control object",
    text: `     3. Control object: Geometrical shape and information carriers through
Detail Design Consists of several modelling objects. This is the level
where Status is planned and monitored. The Main Disciplines consists of
several control objects. -The Control Objects shall have a defined
interface towards other control objects -The Control Object shall have a
unique numbering in WBS -Status (S1-S4) defined by check lists, -Mapped
to level 5 control object schedule for schedule follow-up -Mapped to
Civil Construction PO/Contracts -Mapped to Contractors Work Packages
-Mapped to BoQ/Cost WBS -Mapped to Climate Budget (klimabudsjett)
-Mapped to deliverables list for at latest at status $4 for control
objects -The natural level to perform Design Check and Approvals -Approx
the same level as a DD-drawing`,
  },
  {
    title: "4 Model object",
    text: `4. Model object: is the lowest level of modelled shapes in the 3D model.
Can be picked from libraries or created directly in 3D model. Control
objects often consist of several model objects. Status ($1-S4) is not
set on model object level, but on control object level.`,
  },
];
---

<style>
  .container {
    position: relative;
    width: 100%;
    max-width: 300px;
    /* background-color: rgb(115, 255, 0); */
  }

  /* Make the image to responsive */
  .image {
    width: 50%;
    height: 600px;
    background-color: rgb(255, 146, 5);
  }

  /* The overlay effect - lays on top of the container and over the image */
  .overlay {
    position: absolute;
    bottom: 0;
    backdrop-filter: darken(0.6);
    /* background: rgb(0, 0, 0); */
    color: #f1f1f1;
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  /* When you mouse over the container, fade in the overlay title */
  .container:hover .overlay {
    opacity: 1;
  }

  #page {
    display: grid;
    width: 100%;
    /* height: 800px; */
    grid-template-areas:
      "tri tri  text"
      "tri  tri text"
      "img  img img";
    grid-template-rows: 1fr 1fr 200px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #page > .text {
    grid-area: text;
    /* background-color: #8ca0ff; */
    background-color: #4c94c4;
    display: grid;
    place-items: center;
  }

  #page > .tri {
    grid-area: tri;
    background-color: #ffa08c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: grid; */
    /* place-items: center; */
  }

  #page > .img {
    grid-area: img;
    background-color: #8cffa0;
    display: grid;
    place-items: center;
    /* background-color: #f3f3f3; */
  }
  .triangle {
    color: #fcac62;
    transition: color 0.4s ease-in-out, transform 0.2s ease-in-out;
  }
  .triangle:hover {
    color: #f1cdaa;
    box-shadow: 0px 8px 6px -5px rgba(0, 0, 0, 0.103);
  }
  .triangleSectionContainer {
    position: relative;
    text-align: center;
  }
  .triangleSectionContainer:hover {
    z-index: 5;
    transform: scale(1.1);
    transition: color 0.4s ease-in-out, transform 0.2s ease-in-out;
  }

  .triangleSectionContainer:hover .centered {
    color: rgb(255, 255, 255);
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    font-size: 28px;
    font-weight: 600;
    pointer-events: none;
    color: rgb(15, 15, 15);
    transition: 0.2s color ease-in-out;
  }
</style>
<!-- <img src="assets/stepsgraph.png" alt="" class="img1" /> -->

<body>
  <!-- <slot /> -->
  <section id="page">
    <div class="tri">
      <>
        {
          data.map((item, i) => {
            return (
              <div class="triangleSectionContainer">
                <Triangle id={i} className="triangle" />
                <div class="centered">{item.title}</div>
              </div>
            );
          })
        }
      </>`

      <!-- <div>0 Phase</div>

      <div>1 Main Object</div>

      <div>2 Main Discipline</div>

      <div>3 Control object</div>

      <div>4 Model object</div> -->
    </div>
    <div class="text">
      <div>
        0. Phase is the scopes maturity in Client’s execution model (total
        project). The scope consists of Detail Design in Clients execution
        phase.
      </div>

      <div>
        1. Main Object: is as a geographical part of the scope. We have defined
        three area types Buildings, Transmission and Infrastructure. Detail
        Design consists of 11 Main Objects. The Main Objects are connected to
        CTRs (Cost Time Resource)
      </div>

      <div>
        2. Main Discipline: is responsible for a collection of control objects
        The Main Objects consists of the following Main Disciplines: -Electro HV
        cables and Earthing -EIT Building -Siteprep and Earthworks -Roads
        -Landscape -W&S -Structural Contrete -Structural Steel -Telecom
        -Architect -HVAC The Main Disciplines shall have a defined interface
        toward other Main Disciplines. The Main Disciplines shall have unique
        numbering in the WBS. Discipline leads is responsible for defining
        control objects and check lists within discipline.
      </div>

      <div>
        3. Control object: Geometrical shape and information carriers through
        Detail Design Consists of several modelling objects. This is the level
        where Status is planned and monitored. The Main Disciplines consists of
        several control objects. -The Control Objects shall have a defined
        interface towards other control objects -The Control Object shall have a
        unique numbering in WBS -Status (S1-S4) defined by check lists, -Mapped
        to level 5 control object schedule for schedule follow-up -Mapped to
        Civil Construction PO/Contracts -Mapped to Contractors Work Packages
        -Mapped to BoQ/Cost WBS -Mapped to Climate Budget (klimabudsjett)
        -Mapped to deliverables list for at latest at status $4 for control
        objects -The natural level to perform Design Check and Approvals -Approx
        the same level as a DD-drawing
      </div>
      <div>
        4. Model object: is the lowest level of modelled shapes in the 3D model.
        Can be picked from libraries or created directly in 3D model. Control
        objects often consist of several model objects. Status ($1-S4) is not
        set on model object level, but on control object level.
      </div>
    </div>
    <div class="img">Header</div>
  </section>
  <!-- <div class="container">
    <div class="image"></div>
    <div class="overlay">My Name is John</div>
    <img src="assets/stepsgraph.png" alt="" class="img1" />
  </div> -->
</body>
